@import "../common/variables";

.section-recommend {
  background-color: $main-blue;
  
  .section-top_box {
    color: #fff;
    background-color: $main-blue;
  }

  .recommended-books {
    margin-top: 130px !important;
  }
}
